# shared variables
PUBLIC_ETHSCAN=
PUBLIC_ENVIRONMENT=
PUBLIC_STONES_ADDRESS=
PUBLIC_STONES_STRATEGY_ADDRESS=
PUBLIC_CORE_ADDRESS=
PUBLIC_PARTNER_ADDRESS=

# environment variables
PUBLIC_CONTEXT_URL=
PUBLIC_STONES_GRAPH_URL=
BUN_AUTH_TOKEN=
