@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-background text-foreground;
}

@layer base {
	:root {
		--zircon-bg: 258, 33%, 29%; /* Zircon (background) */
		--zircon-border: 273, 64%, 71%, 1; /* Zircon (border) */

		--topaz-bg: 291, 11%, 24%; /* Topaz (background) */
		--topaz-border: 41, 51%, 56%; /* Topaz (border) */

		--citrine-bg: 333, 22%, 25%; /* Citrine (background) */
		--citrine-border: 25, 96%, 59%; /* Citrine (border) */

		--emerald-bg: 194, 29%, 17%; /* Emerald (background) */
		--emerald-border: 123, 68%, 34%; /* Emerald (border) */

		--ruby-bg: 304, 33%, 18%; /* Ruby (background) */
		--ruby-border: 360, 60%, 45%; /* Ruby (border) */
	}
}

@layer base {
	* {
		@apply border-border;
		user-select: none;
	}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
